{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 80,
  "tabWidth": 2,
  "semi": true,
  "endOfLine": "auto",
  "importOrder": [
    "^react(.*)",
    "^antd(.*)",
    "@ant-design",
    "^components|^constants|^services/(.*)$",
    "^utils/(.*)$",
    "[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
